// Converted to Tailwind classes:
// .grid-txt -> flex flex-wrap items-center
// .grid-sidle -> flex-[5] pl-[10px]
// .grid-style -> min-w-[110px]
// .element-tag -> overflow-hidden font-['Helvetica','sans-serif'] text-[6px] leading-none text-center cursor-pointer shadow-[0_0_4px_rgb(0_255_255_/_.5)]
// .tag-icon -> text-[12px] text-white text-center pointer-events-auto cursor-pointer





